body{
    background: "background.jpg";
    background-color: rgb(180, 204, 225);
}

#myForm{
    width: 180px;
    background-color: bisque;
    text-align: center;
    padding: 10px ;
    border: 5px solid rgb(206, 189, 159);
    border-radius: 15px;
    margin: auto;
    box-shadow:  0 0 50px rgb(150, 144, 144);
}

/* #myForm{
            width: 180px;
            text-align: center;
            padding: 10px;
            border: 2px solid black;
            border-radius: 15px;
            margin-top: 10px;
            margin: auto;
        } */

input{
    text-align: center;
    margin: 5px;
}
button{
    text-align: center;
    margin: auto;
}


